 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Global layout */
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: #244751;
  background-color: #eee;
}

.main {
  margin-top: 30px;
}

.container {
  margin-top: 88px;
  width: 450px;
  align-self: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.tweet-article {
  border-radius: 5px;
  background: #eee;
  margin: 1em;
  border: 1px solid #ccc;
  overflow:hidden;
}

.tweet-article:hover {
  border: 1px solid black;
  border-radius: 5px;
  opacity: 1;
  overflow:hidden;
}

.tweet-article:hover header, .tweet-article:hover #like {
  opacity: 1;
}

.tweet-article .logo {
  opacity: 0.5;
  margin-top:2%;
  margin-bottom: auto;
  margin-left: 2%;
  float: left;
  width:10%;
  height: auto;
}

.tweet-article header {
  opacity: 0.7;
  background-color: rgb(194, 191, 191);
  line-height: 3rem;
  padding-left: 3em;
  margin-top: auto;
  color: rgb(22, 22, 22);
}

.tweet-article .at {
  opacity: 0.5;
  line-height: 4em;
  margin-top:auto;
  margin-bottom: auto;
  font-size: 70%;
  color: rgb(29, 29, 29);
  margin-right: 2%;
  float: right;
  background: inherit;
}

.tweet-article p {
  color: rgb(37, 35, 35);
  background-color: white;
  line-height: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 5%;
  border-bottom: 1px solid rgb(192, 191, 191);
}

.tweet-article footer {
  color: rgb(75, 72, 72);
  font-size:70%;
  background-color: white;
  line-height: 3rem;
  margin-top: auto;
  padding-left: 5%;
}

#like {
  opacity: 0;
  width: 7%;
  height: auto;
  float: right;
  margin-top: 4%;
  margin-right: 3%;
  border: none;
  outline: none;
}

#error {
  color: red;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
}
