#nav-bar {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color:  #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0;
  padding-bottom: 0;
}

 #nav-bar .logo {
  margin-right: 10px;
  width: 80px;
  height: 80px;
  float: left;
}

 #nav-bar .header {
  z-index: 1;
  float: left;
  font-size: 2em;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 5rem;
  top: 0px;
  bottom: 0px;
}